<div id="albums_show">
  <h1>Albums#index</h1>
  <% @albums.each do |album| %>
  <fieldset>
    <div>
      <ul>
        <li id="album_name"><%= link_to album.name, album_path(album.id) %></li>
      </ul>
    </div>
  </fieldset>
  <% end %>

</div>
